h1 {
    color:rgb(235, 235, 235);
    margin-top: 50px; 
    margin-left: 50px;
}

h2 {
    color:rgb(235, 235, 235)
}

h3 {
    color:rgb(235, 235, 235)
}
body {
    background-color: rgb(67, 66, 66);
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.menuDeCima {
    color: blue;
    background-color: rgba(35, 34, 34, 0.534);
    display: flex;
    justify-content: space-between;
}

.links {
    margin: 30px;
}

.cadaLink {
    margin: 20px;
}

.projeto{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.jogo1 h3{
    color:rgb(66, 232, 224);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.jogo:hover h3{opacity:1;}


.jogo:hover img{opacity:0.33;}
.jogo1{
    position:relative;
}

.jogo2 h3{
    color:rgba(5, 134, 37);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.jogo2{
    position:relative;
}

.jogo3 h3{
    color:rgba(230, 174, 22);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.jogo3{
    position:relative;
}

.jogo4 h3{
    color:rgba(255, 128, 0);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.jogo4{
    position:relative;
}

.jogo5 h3{
    color:rgba(255, 0, 0, 0.927);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.jogo5{
    position:relative;
}

.jogo6 h3{
    color:rgb(158, 45, 199);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.jogo6{
    position:relative;
}